body {
    text-align: center;
    font-weight: bold;
    background-color: rgb(131, 179, 142);
    color: white;
}

.container {
    border: 2px solid rgb(12, 56, 2);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 960px;
    height: 620px;
    justify-self: center;
    margin-bottom: 6px;
    background-color: rgb(243, 232, 221)
}

.gridDivs {
    box-sizing: border-box;
    padding: 0px;
}

.gridDivs.active {
    background-color: rgb(92, 246, 74);
}

.gridDivs.red {
    background-color: rgb(255, 0, 0);
}

.gridDivs.blue {
    background-color: rgb(0, 30, 255);
}

.gridDivs.yellow {
    background-color: rgb(251, 255, 0);
}

.btnDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6px;
}

.gridBtn {
    padding: 2px 6px 2px 6px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

/* Simple hover (temporary):
.gridDivs:hover {
    background-color: yellow;
}
*/